[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "downloadpytorch"

[packages]
numpy = "*"
scikit-learn = "*"
matplotlib = "*"
nltk = "*"
sentence-transformers = "*"
beautifulsoup4 = "*"
google-generativeai = "*"
python-dotenv = "*"
pydantic = "*"
markdown = "*"
rich = "*"
tqdm = "*"

[dev-packages]

[requires]
python_version = "3.12"
